 body{
    background: linear-gradient( #38160d,#2d1a18);
    color:white;
}

#cont{
    background-color: #ec7141;
    color: black;
    margin-left: 700px;
    border-radius: 90px;
    transition: all 0.75s;
    position: relative;
    top:0;
    border: 2px solid black;
}

#cont:hover{
    transform: scale(1.03);
    color:#eaefd3;
    background-color:#a85838;
    animation: attention 0.1s ease-in alternate-reverse infinite;
}
#cont:hover{
    transform: scale(1.03);
    color:#eaefd3;
    background-color:#a85838;
    animation: attention 0.1s ease-in alternate-reverse infinite;
}
@keyframes attention {
    0%{
  transform : Rotate(-1deg)
    }
    100%{
    transform: Rotate(1deg)
    }
}
ul{
  list-style-type: none;
   display: none;
}
li{
    padding-top: 6px;
    color:white;
    font-size: 1 rem;
}
.links{
    height: 40px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;  
}
.links a i{
    font-size: 25px;
    transition: all 0.2s;
    color: black;
 }
.links a i:hover{
    color: white;
    transform: translateY(-10px);
} 

.info-box{
    transition: all 0.75s ease-in-out;
    overflow: hidden;
    height: 400px;
    background-color:#a85838;
    border-radius: 25px;
    padding: 15px;
    font-size: 30px;
    margin: 150px;
    box-shadow: 0 0 20px black; 
}
.name {
    color: black;
    font-size: 40px;
}
.title{
    color: rgb(38, 37, 37);
    text-align: center;
    font-size: 20px ;
}
#info-img{
    height: 300px;
    width: 250px;
    background-image: url(/pp.jpg);
    background-size: cover;
    box-shadow: 0 0 9px white;
    border-radius: 50%;
    transition: all 0.3s;
}
#info-img:hover{
    transform: scale(1.05);
}
.info-content{
     margin-left: 400px;
     margin-bottom: 300px;
     position: relative;
     bottom:150px;
     right: 70px;
     text-align: center;
}  

.other-content{
   height: 250px;
    background-color: #a85838;
    border-radius: 25px;
    padding: 15px;
    box-shadow: 0 0 20px black;
    margin: 150px;
    text-align: center;
    font-size: 1.2rem;
}

.button-hp{
    height: 200px;
    background-color: #a85838;
    box-shadow:0 0 20px black; 
    margin: 150px;
    padding: 15px;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    align-item: center;
}


#edu{
    background-color: #ec7141; 
    text-align: center;
    height: 150px;
    width: 150px;
    border-radius: 25px;
    padding-top: 7px;
    border: 4px double transparent;
    box-shadow: 8px 9px 3px black;
    transition: all 0.3s;
}

#edu:hover{
    transform: scale(1.20);
    border: 4px double white;
}

#prjt{
   background-color: #27233a; 
   text-align: center; 
   height: 150px;
   width: 150px;
   border-radius: 25px;
   padding-top: 7px; 
   border: 4px double transparent;
   box-shadow: 8px 9px 3px black;
   transition: all 0.3s;
}
 
#prjt:hover{
    transform: scale(1.20);
     border: 4px double white;
}

 #skls{
    background-color: #ec7141; 
    text-align: center; 
    height: 150px;
    width: 150px;
    border-radius: 25px;
    padding-top: 7px; 
    border: 4px double transparent;
    box-shadow: 8px 9px 3px  black;
    transition: all 0.3s;
}
#skls:hover{
    transform: scale(1.20);
    border: 4px double white;
}
 
footer{
    background-color: #3a2c2d;
    text-align: center;
}


/* CSS for Education */


.E_h1{
    color:#ffe0e0 ;
}
#E_img{
    height: 400px;
    width: 500px; 
     border-radius: 26px;
    border: 6px double whitesmoke;
     transition: all 0.3s; 
} 
#E_img:hover{
    transform: scale(1.05);
}

#img_div_sc{
    display: flex;
    justify-content: center;  
    align-items: center;
}

h4{
    text-align: center;
}
#navbar{
     height :25px;
     width: 100vw;
     background-color: #3a2c2d;
     border: 2px solid #774d50;
     position: fixed;
     top: 6px;
     box-shadow: 0 0 15px black;
     display: flex;
     justify-content: space-evenly;
}

 .n_content{
     font-size: 15px;
    text-decoration: none;
    color:black;
    transition: all;
}
.n_content:hover{
     color: white;
}
.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }
.E_container{
    text-align: center;
    background-color : black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px whitesmoke;
    width: 50%;  
    margin-left: 280px; 

}
#E_h2{
    color:  antiquewhite;
}
.E_info {
    font-size: 18px;
    padding: 10px;
    background-color: beige;
    border: 1px solid #adb4bc;
    border-radius: 45px;
    width: 500px;
    display: none;  
    color: black;
}
select {
    width: 400px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/*css of skills */

.Main-div{
padding-top: 20px;
 }

.per-box{
    padding-top: 1px;
    height: 25px;
    background-color: black;
    margin-bottom: 20px;
    box-shadow: 3px 2px 1px silver;
    position: relative;
    margin: 20px;
    margin-right: 20px;
    width: 500px;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
}
#Percentage {
    height: 8px;
    width: 0;
    background-color: #fff;
    margin-bottom: 7px;
    font-size: 15px;
    color: black;
    text-align: center;
    border-radius: 90px;
    padding: 8px;
    transition: all 1s ease;
 }
#Percentage:hover{
    width:85%;
    background-color: orange;
    animation: colorChange 1s ;
} 
#image-java{
    margin-top: 50px;
    height: 200px;
    width: 300px;
    background-image: url(" https://techware.com.np/storage/blog/D3B99or2Ggpbm7ykifNr5GqfHZRtz1OZut6jbnOF.jpeg");
    background-size: cover;
    box-shadow: 0 0 7px grey;
   box-shadow: 3px 2px 1px silver;

} 
#image-html{
    height: 200px;
    width: 220px;
    background-image: url(" https://e7.pngegg.com/pngimages/780/934/png-clipart-html-logo-html5-logo-icons-logos-emojis-tech-companies-thumbnail.png");
    background-size: cover;
    box-shadow: 5px 4px 0 #716b7d;
    margin-left: 45px;
    box-shadow: 3px 2px 1px silver;
 }
#html-trans{
    height: 8px;
    width: 0;
    background-color: #fff;
    margin-bottom: 7px;
    font-size: 15px;
    color: black;
    text-align: center;
    border-radius: 90px;
    padding: 8px;
    transition: all 1s ease;
}
#html-trans:hover{
width:90%;
background-color: orange;
animation: colorChange 1s ;
}

#image-css{
    height: 200px;
    width: 250px;
    background-image: url("https://1000logos.net/wp-content/uploads/2020/09/CSS-Logo.png ");
    background-size: cover;
    box-shadow: 5px 4px 0 #565062;
    margin-left: 45px;
    box-shadow: 3px 2px 1px silver;
}
#css-trans{
    height: 8px;
    width: 0;
    background-color: #fff;
    margin-bottom: 7px;
    font-size: 15px;
    color: black;
    text-align: center;
    border-radius: 90px;
    padding: 8px;
    transition: all 1s ease;
}
#css-trans:hover{
width:90%;
background-color: orange;
animation: colorChange 1s ;
}

#image-js{
    height: 170px;
    width: 170px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png");
    background-size: cover;
    box-shadow:  5px 4px 0 #565062;
    margin-left: 45px;
    box-shadow: 3px 2px 1px silver;
}
#js-trans{
    height: 8px;
    width: 0;
    background-color: #fff;
    margin-bottom: 7px;
    font-size: 15px;
    color: black;
    text-align: center;
    border-radius: 90px;
    padding: 8px;
    transition: all 1s ease;
}
#js-trans:hover{
width:80%;
background-color: orange;
animation: colorChange 1s ;
}

#image-php{
    height: 150px;
    width: 290px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/PHP-logo.svg/1200px-PHP-logo.svg.png");
    background-size: cover;
    box-shadow:  5px 4px 0 #565062;
    margin-left: 45px;
    box-shadow: 3px 2px 1px silver;
}
#php-trans{
    height: 8px;
    width: 0;
    background-color: #fff;
    margin-bottom: 7px;
    font-size: 15px;
    color: black;
    text-align: center;
    border-radius: 90px;
    padding: 8px;
    transition: all 1s ease;
}
#php-trans:hover{
width:70%;
background-color: orange;
animation: colorChange 1s ;
}

#image-mysql{
    height: 150px;
    width: 220px;
    background-image: url("https://banner2.cleanpng.com/20180620/lo/kisspng-mysql-database-server-table-extract-transform-lo-mysql-5b2a642a61e0b7.7271112015295048104009.jpg");
    background-size: cover;
    box-shadow: 5px 4px 0 #565062;
    margin-left: 45px;  
    box-shadow: 3px 2px 1px silver;
}
#mysql-trans{
    height: 8px;
    width: 0;
    background-color:#fff;
    margin-bottom: 7px;
    font-size: 15px;
    color: black;
    text-align: center;
    border-radius: 90px;
    padding: 8px;
    transition: all 1s ease;
}
#mysql-trans:hover{
   width:80%;
   background-color: orange;
   animation: colorChange 1s;
}
 
#image-react{
    height: 200px;
    width: 230px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/1200px-React-icon.svg.png");
    background-size: cover;
    box-shadow:  5px 4px 0 #565062;
    margin-left: 45px;
    box-shadow: 3px 2px 1px silver;
}
#react-trans{
    height: 8px;
    width: 0;
    background-color: #fff;
    margin-bottom: 7px;
    font-size: 15px;
    color: black;
    text-align: center;
    border-radius: 90px;
    padding: 8px;
    transition: all 1s ease;
}
#react-trans:hover{
width:25%;
background-color: orange;
animation: colorChange 1s ;
}

#image-angular{
    height: 200px;
    width: 200px;
    background-image: url("https://miro.medium.com/v2/resize:fit:512/1*FKD2Uy_Q6r6AviZA2VD4RQ.png");
    background-size: cover;
    box-shadow: 5px 4px 0 #565062;
    margin-left: 45px;
     box-shadow: 3px 2px 1px silver;
} 
#ag-trans{
    height: 8px;
    width: 0;
    background-color: #fff;
    margin-bottom: 7px;
    font-size: 15px;
    color: black;
    text-align: center;
    border-radius: 90px;
    padding: 8px;
    transition: all 1s ease;
}
#ag-trans:hover{
width:25%;
background-color: orange;
animation: colorChange 1s ;
}
@keyframes colorChange {
    0% {
      background-color: #fff;
    }
    50% {
      background-color: rgb(255, 204, 111);
    }
    75%{
        background-color: rgb(251, 182, 53) ;
    }
    100% {
      background-color: orange;
    }
  }

