body{ 
    background: linear-gradient( #38160d,#2d1a18);
    color:white; 
}
#cont{
    background-color: #ec7141;
    color: black;
    margin-left: 950px;
    border-radius: 90px;
    transition: all 0.75;
    position:relative;
    right:0;
    border: 1px solid transparent;
}
ul{
    list-style-type: none;
    display: none;
}
li{
    padding-top: 6px;
  color: black;
  font-size: 1rem;
}
.info-box { 
    overflow: hidden;
    height: 350px; 
    background-color:#a85838;
    border-radius: 25px;
    padding: 15px;
    font-size: 30px;
    box-shadow: 0 0 20px black;
}
.name {
    color: black;
    font-size: 40px;
}
.title{
    color:  rgb(38, 37, 37);
    text-align: center;
    font-size: 20px ;
}
#info-img{
    height: 300px;
    width: 250px;
    background-image: url(/assets/images/pp.jpg);
    background-size: cover;
    box-shadow: 0 0 9px black;
    border-radius: 50%; 
}
.infoOuter {
    padding:20px 50px;
}
.info-content{
     margin-left: 400px;
     margin-bottom: 300px;
     position: relative;
     bottom:150px;
     right: 70px;
     text-align: center;
}  

.other-content{
    height: 250px; 
    background-color: #a85838;
    border-radius: 25px;
    padding: 15px;
    box-shadow: 0 0 20px black;
    text-align: center;
    color:black;
    font-size: 1.6rem;
    font-weight: 800;
}
.button-hp{
    height: 200px;
    background-color: #a85838;
    box-shadow:0 0 20px black; 
    padding: 15px;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.button-hp-inner{
    background-color:#ec7141; 
    text-align: center;
    height: 150px;
    width: 150px;
    border-radius: 25px;
    padding-top: 7px;
    border: 4px double transparent;
    box-shadow: 8px 9px 3px black;
    transition: all 0.3s;
}
footer{
    background-color: #3a2c2d;
    text-align: center;
}

/* CSS for Education */

#E_img{
    height: 400px;
    width: 500px; 
     border-radius: 26px;
    border: 6px double whitesmoke;
     transition: all 0.3s; 
} 
.img_div_sc{
    display: flex;
    justify-content: center;  
    align-items: center;
}
h4{
    text-align: center; 
}
#navbar{
    height :25px;
    width: 100vw; 
    background-color: #3a2c2d;
    border: 2px solid #774d50;
    position: fixed;
    top:6px;
    box-shadow: 0 0 15px black;
    display: flex;  
    justify-content: space-evenly; 
    align-items: center;
}
 
.n_content{
    font-size: 1rem;
    text-decoration: none;
    color:black;
    transition: all 0.2s;
}

/* css for skills */
.Main-div{
    padding-top: 20px;
     }
    
    .per-box{
        padding-top: 1px;
        height: 25px;
        background-color: black;
        margin-bottom: 20px;
        box-shadow: 2px 3px 1px rgba(245, 245, 220, 0.653);
        position: relative;
        margin: 20px;
        margin-right: 20px;
        width: 500px;
        border-top-right-radius: 45px;
        border-bottom-right-radius: 45px;
        border-top-left-radius: 90px;
        border-bottom-left-radius: 90px;
    }
    
    #Percentage {
        height: 8px;
        width: 0;
        background-color: #fff;
        margin-bottom: 7px;
        font-size: 15px;
        color: black;
        text-align: center;
        border-radius: 90px;
        padding: 8px; 
     }
     #image-java{
        margin-top: 50px;
        height: 200px;
        width: 300px;
        background-image: url(/assets/images/imgj.png);
        background-size: cover;
        box-shadow: 1px 2px 6px beige;
        margin-left: 45px;
    }
     
     #image-html{
        height: 200px;
        width: 220px;
        background-image: url("/assets/images/imgh.png");
        background-size: cover;
        box-shadow: 1px 2px 6px beige;
        margin-left: 45px;
     }
    #html-trans{
        height: 8px;
        width: 0;
        background-color: #fff;
        margin-bottom: 7px;
        font-size: 15px;
        color: black;
        text-align: center;
        border-radius: 90px;
        padding: 8px; 
    }
    #image-css{
        height: 200px;
        width: 250px;
        background-image: url("https://1000logos.net/wp-content/uploads/2020/09/CSS-Logo.png ");
        background-size: cover;
        box-shadow: 1px 2px 6px beige;
        margin-left: 45px;
    }
    #css-trans{
        height: 8px;
        width: 0;
        background-color: #fff;
        margin-bottom: 7px;
        font-size: 15px;
        color: black;
        text-align: center;
        border-radius: 90px;
        padding: 8px;
        transition: all 1s ease;
    }
    #image-js{
        height: 170px;
        width: 170px;
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png");
        background-size: cover;
        box-shadow: 1px 2px 6px beige;
        margin-left: 45px;
    }
    #js-trans{
        height: 8px;
        width: 0;
        background-color: #fff;
        margin-bottom: 7px;
        font-size: 15px;
        color: black;
        text-align: center;
        border-radius: 90px;
        padding: 8px;
    }

    #image-php{
        height: 150px;
        width: 290px;
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/PHP-logo.svg/1200px-PHP-logo.svg.png");
        background-size: cover;
        box-shadow: 1px 2px 6px beige;
        margin-left: 45px;
    }
    #php-trans{
        height: 8px;
        width: 0;
        background-color: #fff;
        margin-bottom: 7px;
        font-size: 15px;
        color: black;
        text-align: center;
        border-radius: 90px;
        padding: 8px;
    }
    #image-mysql{
        height: 150px;
        width: 220px;
        background-image: url("/assets/images/imgmy.png");
        background-size: cover;
        box-shadow: 1px 2px 6px beige;
        margin-left: 45px;
    }
    #mysql-trans{
        height: 8px;
        width: 0;
        background-color: #fff;
        margin-bottom: 7px;
        font-size: 15px;
        color: black;
        text-align: center;
        border-radius: 90px;
        padding: 8px;
    }
    #image-react{
        height: 200px;
        width: 230px;
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/1200px-React-icon.svg.png");
        background-size: cover;
        box-shadow: 1px 2px 6px beige;
        margin-left: 45px;
    }
    #react-trans{
        height: 8px;
        width: 0;
        background-color: #fff;
        margin-bottom: 7px;
        font-size: 15px;
        color: black;
        text-align: center;
        border-radius: 90px;
        padding: 8px;
    }
    #image-angular{
        height: 200px;
        width: 200px;
        background-image: url("https://miro.medium.com/v2/resize:fit:512/1*FKD2Uy_Q6r6AviZA2VD4RQ.png");
        background-size: cover;
        box-shadow: 1px 2px 6px beige;
        margin-left: 45px;
    } 
    #ag-trans{
        height: 8px;
        width: 0;
        background-color:  #fff;
        margin-bottom: 7px;
        font-size: 15px;
        color: black;
        text-align: center;
        border-radius: 90px;
        padding: 8px;
    }